<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PremiumWebServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="pilogicEntities" connectionString="metadata=res://*/Pilogic.csdl|res://*/Pilogic.ssdl|res://*/Pilogic.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.47.17;initial catalog=pilogic;persist security info=True;user id=popestmaster;password=Nicole1721#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<appSettings>
    <add key="PubnubMessaging.LogLevel" value="0" />
    <add key="PubnubMessaging.PubnubErrorFilterLevel" value="3" />
    <add key="PubnubMessaging.LogMessageLengthLimit" value="0" />
   
  </appSettings>
    <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="pubnubListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="pubnub-messaging.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics><system.net>
    <connectionManagement>
      <add address="*" maxconnection="30" />
    </connectionManagement>
  </system.net><system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
    <userSettings>
        <PremiumWebServer.Properties.Settings>
            <setting name="State" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogedAs" serializeAs="String">
                <value />
            </setting>
            <setting name="DbServer" serializeAs="String">
                <value />
            </setting>
            <setting name="DbUser" serializeAs="String">
                <value />
            </setting>
            <setting name="DbKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DbPort" serializeAs="String">
                <value />
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="pubkey" serializeAs="String">
                <value />
            </setting>
            <setting name="subkey" serializeAs="String">
                <value />
            </setting>
        </PremiumWebServer.Properties.Settings>
    </userSettings>
</configuration>